<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.realdoer.dao.CommentMapper">
    <sql id="selectField">
        comment_id, item_id, user_id, parent_id, content, date
    </sql>
    
    <sql id="insertField">
        item_id, user_id, parent_id, content, date
    </sql>

    <resultMap type="top.realdoer.entity.Comment" id="comment">
        <id property="commentId" column="comment_id"/>
        <result property="itemId" column="item_id"/>
        <result property="userId" column="user_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="content" column="content"/>
        <result property="date" column="date"/>
    </resultMap>
    
    <insert id="save" useGeneratedKeys="true" keyProperty="commentId" keyColumn="comment_id">
        INSERT INTO
            comment (
                <include refid="insertField"></include>
            )
        VALUES (
            #{itemId}, #{userId}, #{parentId}, #{content}, CURDATE()
        )
    </insert>
    
    <select id="list" resultMap="comment">
        SELECT
            <include refid="selectField"></include>
        FROM
            comment
        WHERE
            item_id = #{itemId}
    </select>
    
    <select id="count" resultType="java.lang.Integer">
        SELECT
            count(comment_id)
        FROM
            comment
        WHERE
            item_id = #{itemId}
    </select>
    
    <delete id="remove">
        DELETE FROM
            comment
        WHERE
            comment_id = #{commentId}
    </delete>
    
    <select id="checkBelong" resultType="java.lang.Boolean">
        SELECT 
            IF(user_id = #{userId},1,0) 
        FROM 
            comment 
        WHERE 
            comment_id = #{commentId}
    </select>
    
</mapper>