<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.realdoer.dao.PurchasedMapper">

    <insert id="save">
        INSERT INTO
            purchased (user_id, item_id)
        VALUES (
            #{userId}, #{itemId}
        )
    </insert>

    <select id="listPurchased" resultType="java.lang.Integer">
        SELECT 
            user_id, item_id
        FROM
            purchased
        WHERE
            user_id = #{userId} 
    </select>
    
    
</mapper>